body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    padding-left: 150px;
    float: left;
}

.menu {
    float: left;
    padding-left: 232px;
}

.menu li {
    float: left;
    line-height: 50px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 50px);
    background: url(../img/ten.png) 100% 103%/auto auto no-repeat, url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}

.title__conteiner {
    float: left;
    margin: 270px 0px 0px 70px;
    color: #2c384a;
    text-align: center;
}

.title__conteiner h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79878d;
}

.title__conteiner input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about__me {
    width: 100%;
    height: 80%;
    background: url(../img/4erta.jpg) 51.8% 22%/auto auto no-repeat, url(../img/fonoviy_sloi.jpg) center/cover no-repeat;
}

.conteiner h3 {
    font-size: 25px;
    margin: 103px 0px 0px 600px;
    float: left;
    color: #263244;
}

.conteiner img {
    float: left;
    margin: 60px 0px 0px 550px;
}

.paragraf {
    float: left;
    margin: 25px 250px 0px 250px;
    text-align: left;
}

.paragraf p {
    margin: 0px 0px 41px 0px;
    font-size: 15px;
    color: #79878d;
}

.conteiner input {
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 10px 0px 30px;
    margin: 37px 0px 0px 587px;
}

.what_can_i_do {
    width: 100%;
    height: 50%;
    background: url(../img/gramophon.png) 83.5% 58%/auto auto no-repeat, url(../img/rocket.png) 61% 58%/auto auto no-repeat, url(../img/znak.png) 37.6% 58%/auto auto no-repeat, url(../img/nout.png) 17% 58%/auto auto no-repeat, url(../img/4erta.jpg) 52% 36%/auto auto no-repeat, url(../img/img_Fon.jpg) center/cover no-repeat;
}

.what h3 {
    font-size: 25px;
    margin: 103px 0px 0px 585px;
    float: left;
    color: #263244;
}

.My__abilitiesfirst {
    float: left;
    margin: 160px 0px 0px 100px;
}

.My__abilitiesfirst li {
    float: left;
    font-size: 15px;
    color: #cf7600;
    text-align: center;
    margin: 0px 85px 0px 85px;

}

.My__abilities {
    float: left;
    margin: 10px 0px 0px 100px;
}

.My__abilities li {
    float: left;
    font-size: 15px;
    color: #3f495a;
    text-align: center;
    margin: 0px 40px 0px 40px;
    line-height: 20px;
}

.cases h3 {
    font-size: 25px;
    margin: 103px 0px 0px 616px;
    float: left;
    color: #263244;
}

.cases {
    background: url(../img/4erta.jpg) 52% 13.7%/auto auto no-repeat;
}

.example p {
    float: left;
    margin: 40px 0px 0px 320px;
    color: #79878d;
}

.cases img {
    float: left;
    height: 99;
    width: 99%;
    margin: 30px 0px 0px -150px;
}

.client {
    float: left;
    margin: -200px 0px 0px 150px;
}

.client p {
    font-size: 15px;
    text-align: left;
    line-height: normal;
    color: #384354;
    line-height: 20px;
}

.client input {
    height: 40px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 40px 0px 40px;
    margin: 23px 0px 0px 0px;
}

.name__project {
    float: left;
    margin: -200px 147px 0px 400px;
    font-size: 15px;
    color: #384354;
    line-height: 20px;
}

.claculator2 {
    float: left;
    margin: 0px 0px 0px 570px;
    text-align: left;
}

.price {
    font-size: 22px;
    float: left;
    color: #1c2534;

}

.calculator {
    margin: 20px 0px 0px -200px;
}

.calculator h3 {
    text-align: start;
    margin: 50px 0px 20px 0px;
    font-weight: 600;
    color: #1c2534;
}


.calculator select {
    height: 40px;
    text-align: start;
    border: 2px solid #6d7682;
    background: #eee;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 500px 0px 0px;
}

.calculator img {
    float: left;
    height: 100%;
    width: 71%;
    margin: 25px 0px 0px 0px;
}

.poditog {
    float: left;
    margin: 50px 0px 0px -636px;
    font-size: 16px;
    white-space: nowrap;
    word-spacing: 530px;
}

.poditog p{
    
    margin-top: 10px;
}


 
