body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 50px;
    background: #344051;
}

.logo {
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    padding-left: 150px;
    float: left;
}

.menu {
    float: left;
    padding-left: 232px;
}

.menu li {
    float: left;
    line-height: 50px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 50px);
    background: url(../img/ten.png) 100% 103%/auto auto no-repeat, url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/fon.jpg) center/cover no-repeat;
}

.title__conteiner {
    float: left;
    margin: 270px 0px 0px 70px;
    color: #2c384a;
    text-align: center;
}

.title__conteiner h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__conteiner h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79878d;
}

.title__conteiner input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
}

.about__me {
    width: 100%;
    height: 80%;
    background: url(../img/4erta.jpg) 51.8% 22%/auto auto no-repeat, url(../img/fonoviy_sloi.jpg) center/cover no-repeat;
}

.conteiner h3 {
    font-size: 25px;
    margin: 103px 0px 0px 600px;
    float: left;
    color: #263244;
}

.conteiner img {
    float: left;
    margin: 60px 0px 0px 550px;
}

.paragraf {
    float: left;
    margin: 25px 250px 0px 250px;
    text-align: left;
}

.paragraf p {
    margin: 0px 0px 41px 0px;
    font-size: 15px;
    color: #79878d;
}

.conteiner input {
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 10px 0px 30px;
    margin: 37px 0px 0px 587px;
}

.what_can_i_do {
    width: 100%;
    height: 50%;
    background: url(../img/gramophon.png) 83.5% 58%/auto auto no-repeat, url(../img/rocket.png) 61% 58%/auto auto no-repeat, url(../img/znak.png) 37.6% 58%/auto auto no-repeat, url(../img/nout.png) 17% 58%/auto auto no-repeat, url(../img/4erta.jpg) 52% 36%/auto auto no-repeat, url(../img/img_Fon.jpg) center/cover no-repeat;
}

.what h3 {
    font-size: 25px;
    margin: 103px 0px 0px 585px;
    float: left;
    color: #263244;
}

.My__abilitiesfirst {
    float: left;
    margin: 160px 0px 0px 100px;
}

.My__abilitiesfirst li {
    float: left;
    font-size: 15px;
    color: #cf7600;
    text-align: center;
    margin: 0px 85px 0px 85px;

}

.My__abilities {
    float: left;
    margin: 10px 0px 0px 100px;
}

.My__abilities li {
    float: left;
    font-size: 15px;
    color: #3f495a;
    text-align: center;
    margin: 0px 40px 0px 40px;
    line-height: 20px;
}

.cases {
    height: 100%;
    background: url(../img/4erta.jpg) 52% 16.7%/auto auto no-repeat;
}

.cases h3 {
    font-size: 25px;
    margin: 103px 0px 0px 616px;
    float: left;
    color: #263244;
}

.example p {
    float: left;
    margin: 60px 0px 0px 320px;
    color: #79878d;
}

.client img {
    height: 100%;
    width: 100%;
    margin: 30px 0px 0px -150px;

}

.client p {
    margin: -110px 0px 0px 150px;
    font-size: 15px;
    text-align: left;
    line-height: normal;
    color: #384354;
    line-height: 20px;
}

.nazvanie {
    float: left;
    margin: -45px 150px 0px 460px;
    font-size: 15px;
    color: #384354;
    line-height: 20px;
}

.client input {
    height: 40px;
    text-align: center;
    border: 2px solid #63b5ae;
    background: #63b5ae;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 0px 40px 0px 40px;
    margin: 75px 0px 0px 150px;
}

.claculator2 {
    height: 77%;
    width: 100%;
    background: none;
}

.price {
    margin: 100px 0px 0px 570px;
    font-size: 22px;
    float: left;
    color: #1c2534;

}

.calculator {
    float: left;
    margin: 20px 200px 0px 350px;
}

.calculator h3 {
    margin: 50px 0px 20px 0px;
    font-weight: 600;
    color: #1c2534;
}


.calculator select {
    height: 40px;
    text-align: start;
    border: 2px solid #6d7682;
    background: #eee;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 500px 0px 0px;
}

.calculator img {
    float: left;
    height: 100%;
    width: 88.7%;
    margin-top: 25px;

}

.poditog {
    float: left;
    margin: 20px 0px 0px 350px;
    font-size: 16px;
    white-space: nowrap;
    word-spacing: 530px;
}

.stat {
    width: 100%;
    height: 50%;
    background: url(../img/smail.png) 17.5% 58%/auto auto no-repeat, url(../img/skobku.png) 38% 58%/auto auto no-repeat, url(../img/galochka.png) 59.7% 58%/auto auto no-repeat, url(../img/kubok.png) 81% 58%/auto auto no-repeat, url(../img/4erta.jpg) 52% 30%/auto auto no-repeat, url(../img/fon3.jpg) center/cover no-repeat;
}

.stat h3 {
    font-size: 25px;
    margin: 80px 0px 0px 516px;
    float: left;
    color: #263244;
}

.my__work {
    float: left;
    margin: 200px 0px 0px 100px;
}

.my__work b{
    font-weight: 900;
    font-size: 28px;
}

.my__work li {
    float: left;
    font-size: 15px;
    color: #3f495a;
    text-align: center;
    margin:   0px 70px 0px 60px;
    line-height: 30px;
}

.reviews {
    height: 60%;
    width: 100%;
    background: url(../img/4erta.jpg) 52.3% 30%/auto auto no-repeat;
    
}

.reviews h3{
    font-size: 25px;
    margin: 103px 0px 0px 606px;
    float: left;
    color: #263244;
}

.reviews img{
    margin: 80px 500px 0px  600px ;
}

.reviews p{
     float: left;
    margin: 40px 320px 0px 320px;
    color: #79878d;
    text-align: center;
}

.reviewsed p{
    float: left;
    margin: 30px 400px 0px 515px ;
    color: #79878d;
    text-align: center;
}

.input{
    margin: 50px 0px 0px  610px;
    float: left;
}

.input input{
    margin: 0px 5px 0px 5px;
    
}

.my__contact {
  height: 700px;
    width: 100%;
    background: url(../img/%D0%B3%D0%B5%D0%BE.png) 31% 40%/auto auto no-repeat , url(../img/konvert.png) 53% 40%/auto auto no-repeat , url(../img/truba.png) 75% 40%/auto auto no-repeat , url(../img/4erta.jpg) 52.5% 23%/auto auto no-repeat , url(../img/fon4.jpg) center/cover no-repeat;
}

.my__contact h3{
   font-size: 25px;
    margin: 103px 0px 0px 556px;
    float: left;
    color: #fff; 
}

.my__contact p{
    float: left;
    margin: 70px 350px 0px 400px ;
    color: #fff;
    text-align: center;
}

.my__contact ul{
    margin: 0px 0px 0px 196px;
}

.my__contact li{
    float: left;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin:   73px  0px 0px 125px;
    line-height: 15px; 
}

.my__contact id1 {
    margin: 50px 0px 0px 200px;
}